<div class="div-btn-actions">
  <div class="btns-nav">
    <fa-icon class="icon-nav" [icon]="Icons.faHouse"></fa-icon>
    <span class="lbl-icon">Inicio</span>
  </div>
  <div class="btns-nav">
    <fa-icon class="icon-nav" [icon]="Icons.faRightLeft"></fa-icon>
    <span class="lbl-icon">Transacciones</span>
  </div>

  <div class="div-icon-add" (click)="newTransaction()">
    <fa-icon class="icon-nav" [icon]="Icons.faPlus"></fa-icon>
  </div>

  <div class="btns-nav">
    <fa-icon class="icon-nav" [icon]="Icons.faChartPie"></fa-icon>
    <span class="lbl-icon">Estadisticas</span>
  </div>
  <div class="btns-nav">
    <fa-icon class="icon-nav" [icon]="Icons.faUser"></fa-icon>
    <span class="lbl-icon">Perfil</span>
  </div>
</div>
